{
  "AWS_ACCESS_KEY_ID": "XXXXXXXXXXXXXXXXXXXX",
  "AWS_SECRET_ACCESS_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "PERSONAL_ACCESS_TOKEN": "ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  
  "SENTRY_DSN_API": "https://public@sentry.example.com/1",
  
  "DB_HOSTNAME": "fiap-health-med-rds.rds.amazonaws.com",
  "DB_USERNAME": "root",
  "DB_PASSWORD": "password",
  "REDIS_HOSTNAME": "fiap-health-med-cache.cache.amazonaws.com"
}